<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<div>
  <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name">
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
    <br>
    <label for="lastname">Enter lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <p style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</p>
    <br>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email">
    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
    <br>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <label><input th:type="checkbox" th:field="*{roles}" name="roles" value="ADMIN">ADMIN</label>
    <br>
    <label><input th:type="checkbox" th:field="*{roles}" name="roles" value="USER">USER</label>
    <br>
    <input type="submit" value="Add User">

  </form>
  <br>
  <br>
  <a href="/logout"><button th:text="LOGOUT"></button></a>
</div>
</body>
</html>